.vscode
TODO.md
CODE.md
beautify_sophocles.py
download.py
download-plato.py
toc.txt
*.log
verified.txt
verified.json

__pycache__

src/archive
src/output/* 

src-books/*

output/*
# !output/gutenberg
# !output/jekyll-pages

tests/*
