TODO.md
CODE.md
beautify_sophocles.py
src/*
src/images/*

!src/css/*
!src/js/*
!src/images/icons

src/books/0-extra
src/books/classics

output/*
!output/classics
!output/gutenberg
!output/jekyll-pages