@import url('https://fonts.googleapis.com/css?family=Noto+Serif:400,700&amp;subset=greek,greek-ext');

#book_reader_container {
  display:flex;
  font-size: 16px;
  color:black;
}

#book_reader_container * {
  font-family: 'Noto Serif', serif;
}

#book_reader_container a {
  color: #C00;
  text-decoration: none;
}

#book_reader_container a:hover {
  color: #F33;
  text-decoration: underline;
}

.book_reader {
  position: relative;
  margin: auto;
  display: flex;
  justify-content:center;
  max-width: 800px;
  padding-top: 50px;
}

#book_reader_nav {
  overflow: hidden;
  background-color: #f1f1f1;
  /* padding: 90px 10px; */
  /* Large padding which will shrink on scroll (using JS) */
  transition: 0.4s; /* Adds a transition effect when the padding is decreased */
  position: fixed;  /* Sticky/fixed book_reader_nav */
  width: 100%;
  top: 0;           /* At the top */
  margin-bottom: 10px;
  z-index: 99;
  display:flex;
  justify-content:center;
}

#book_reader_nav a {
  float: left;
  color: black;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  /* line-height: 25px; */
  border-radius: 4px;
}

#book_reader_nav a:hover {
  background-color: #ddd;
  color: black;
}

#book_reader_nav a.active {
  background-color: dodgerblue;
  color: white;
}

.filter-nav {
  filter: invert(10%) sepia(77%) saturate(5426%) hue-rotate(357deg) brightness(107%) contrast(116%);
}

.nav_img {
  color: #C00;
  text-decoration: none;
  height: 25px;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky + .content {
  padding-top: 60px;
}

/* Book Container */
.book_container {
  position: relative;
  max-width: 800px;
  margin: 1em 4em;
}

.book_container * {
  font-family: 'Noto Serif', serif;
}


.book_title {
  text-align: center;
  margin:0px;
}

.book_author {
  text-align: center;
  margin:0px;
}
.book_translator {
  font-size: 90%;
  text-align: center;
  margin-top:5px;
  margin-bottom:5px;
}

.book_copyright {
  text-align: center;
  margin-top:5px;
  margin-bottom:5px;
  padding-bottom: 25px;

}

.book_toc_entry {
  font-size: 90%;
  text-align: center;
  margin-top:5px;
  margin-bottom:5px;
}

.book_description {
  display: inline;
  margin-top:5px;
  margin-bottom:5px;
  font-weight: bold;
}

.book_source_and_license {
  padding: 0px;
  text-align: center;
}

ul {
  margin: 2em 0 3em;
}
li {
  font-size: 1.2em;
  line-height: 1.5em;
}

.book_section {
  font-size: 16px;
  margin-top: 1em;
}

.book_section h2 {
  text-align: center;
}

.chapter {
  margin: 1em 0;
  line-height: 1.8em;
  font-size: 1.3em;
}
.chapter > .ref {
  font-size: 1.2em;
  margin: 1em 0 0.3em;
  text-align: center;
  color: #C00;
}

.verse {
  display: inline;
}

.verse > .ref {
  color: #C00;
  font-size: 70%;
  font-family: sans-serif;
  line-height: 1;
  position: relative;
  vertical-align: baseline;
  top: -0.5em;
}

.speech {
  margin: 1.25em 0;
  line-height: 1.8em;
  /* font-size: 1.3em; */
  font-size: 16px;
}

.speech > .ref {
  position: absolute;
  right: 100%;
  margin-right: 1.5em;
  color: #C00;
  font-size: 70%;
  font-family: sans-serif;
}

.speaker {
  font-weight: bold;
  font-size: 15px;
  /* font-size: 1.2em; */
  margin: 0;
}

.sentence {
  display: inline;
}

.sentence > .ref {
  color: #C00;
  font-size: 70%;
  font-family: sans-serif;
  line-height: 1;
  position: relative;
  vertical-align: baseline;
  top: -0.5em;
}

.paragraph {
  margin: 1.8em 0;
}
.paragraph > .ref {
  position: absolute;
  right: 100%;
  margin-right: 1.5em;
  color: #C00;
  font-family: sans-serif;
}

.stephanus {
  position: absolute;
  left: 100%;
  margin-left: 1.5em;
  color: #666;
  font-size: 14pt;
  font-weight: normal;
}

q::before {
  content: "«";
}
q::after {
  content: "»";
}
/* Dark Mode CSS
:root {
  --body-bg: #fafafa;
  --body-color: #555;
  --link-color: #222;
  --link-color-hover: #000;
}

@media (prefers-color-scheme: dark) {
  :root {
    --body-bg: #212529;
    --body-color: #6c757d;
    --link-color: #dee2e6;
    --link-color-hover: #fff;
  }
  body {
    background-color: red;
  }
  .book_reader {
    background-color: blue;
  }
  img {
    opacity: .75;
    transition: opacity .5s ease-in-out;
  }
  img:hover {
    opacity: 1;
  }
} */

